
# GENERAL FILES
# Рабочие файлы PhpStorm
*.idea 								

# -------------------------------------------------------------------
# 001_PROJECT: aimSiteBulgaria

# -------------------------------------------------------------------
# 002_PROJECT: aimSitePortfolioAlena

# -------------------------------------------------------------------
# 003_PROJECT: aimSiteGoSurf

# Игнорируем все файлы в этом каталоге (файлы пакетов node.js)
aimSiteGoSurf/node_modules/	

# -------------------------------------------------------------------





