
# GENERAL FILES
# Рабочие файлы PhpStorm
*.idea 								

# -------------------------------------------------------------------
# 001_PROJECT: aimSiteBulgaria

# -------------------------------------------------------------------
# 002_PROJECT: aimSitePortfolioAlena

# -------------------------------------------------------------------
# 003_PROJECT: aimSiteGoSurf

# Игнорируем каталог /aimSiteGoSurf/node_modules/ и все его содержимое (файлы пакетов node.js)
/aimSiteGoSurf/node_modules/	

# -------------------------------------------------------------------
# 004_PROJECT: aimSiteJoomhost_Сайт Интернет-провайдера (Vadiv Prokopchuk)

# Игнорируем каталог /aimSiteJoomhost/node_modules/ и все его содержимое (файлы пакетов node.js)
/aimSiteJoomhost/node_modules/
# Игнорировать файл в текущем каталоге
/aimSiteJoomhost/Как переиспользовать gulp в новых проектах из старых (aimGulpProjectBuild-v01).md
# Игнорировать файл в текущем каталоге
/aimSiteJoomhost/Описание зависимостей (пакетов) в package.json (aimSiteJoomhost).md

# -------------------------------------------------------------------
# 005_PROJECT: aimSiteCompanyLiquidation

# Игнорируем каталог /aimSiteCompanyLiquidation/node_modules/ и все его содержимое (файлы пакетов node.js)
/aimSiteCompanyLiquidation/node_modules/	

# -------------------------------------------------------------------
# 006_PROJECT: aimSiteMoGo

# Игнорируем каталог /aimSiteMoGo/node_modules/ и все его содержимое (файлы пакетов node.js)
/aimSiteMoGo/node_modules/	

# -------------------------------------------------------------------
# 007_PROJECT: aimSitePortfolioAimdao

# Игнорируем каталог /aimSitePortfolioAimdao/node_modules/ и все его содержимое (файлы пакетов node.js)
/aimSitePortfolioAimdao/node_modules/
/aimSitePortfolioAimdao/gulpfile.js
/aimSitePortfolioAimdao/package-lock.json
/aimSitePortfolioAimdao/package.json
/aimSitePortfolioAimdao/src/

# -------------------------------------------------------------------

