$lightYellow: #fce38a; // Акцентный (превалирующий) цвет сайта.
$lightRed: #f38181; // Акцентный (превалирующий) цвет сайта.
$lightBlack: #333; // Акцентный (превалирующий) цвет сайта.
$lightGray: #999; // Акцентный (превалирующий) цвет сайта.
$superLightGray: #e5e5e5; // Акцентный (превалирующий) цвет сайта.
$superSuperLightGray: #f8f8f8; // Акцентный (превалирующий) цвет сайта.
$lightGreen: #95e1d3; // Акцентный (превалирующий) цвет сайта.




