// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
// =*= GENERAL STYLES =*=
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
//
// Переменные для акцентных (превалирующих) цветов сайта.
$black: #2b2a2c;
$gray: #6a696b;
$gray-light: #8d8d8e;
$white: #fff;
$violet-red: #BC4899;
$violet-boldRed:#66085A;
$violet-bright: #DBADEC;
$violet: #BA87F9;
$violet-bold: #624185;
$violet-black: #452050;
$violet-dark: #2F0C49;
//
// Строковые переменные для медиа-запросов.
$notebook: "max-width: 1199px";
$tablet: "max-width: 991px";
$mobile: "max-width: 767px";
$mobile-sm: "max-width: 565px";
