/* Когда babel компилирует какой-то код, он пытается предложить читаемый результат, 
но когда файлы становятся большими (> 500 КБ), babel считает (по умолчанию 'compact: auto'), 
что нецелесообразно оставлять эту опцию включенной. Если вас не волнует удобочитаемость, 
вы можете просто использовать 'compact: true' или 'compact: false' . 
Только 'compact: auto' будет печатать предупреждение о том что компилируемый файл > 500 КБ. */ 

{
    "env": {
      "development" : {
        "compact": false
      }
    }
}