// -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
// -#- IMPORTS - general styles -#-
// -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
//
// Variables (переменные должны быть прописаны выше того объекта, в котором они используются).
@import "src/scss/_vars.scss";
//
//
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
// =*= GLOBAL STYLES =*=
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
//
html {
  box-sizing: border-box; // После этого, padding и border не будет увеличивать ширину и высоту элементов, а будут высчитывать ширину и высоту элементов внутри элементов.
  font-size: 15px; // Акцентный (превалирующий) размер шрифта.
}

body {
  font-family: 'Montserrat', sans-serif; // Акцентный (превалируюищй) шрифт.
  font-size: 1rem; // Акцентный (превалирующий) размер шрифта.
  color: $violet-dark; // Акцентный (превалирующий) цвет шрифта.
  margin: 0;
  line-height: 20px; // Акцентная (превалирующая) высота шрифта.
  font-weight: 400; // Акцентный (превалирующий) вес шрифта (400 - regular).

  /* При открытии модальных окон, мы добавляем в html к тегу body класс no-scroll,
  и тем самым отменяем возможность скроллить страницу, находящуюся за модальным окном,
  т.к. в этом нет необходимости при открытом модальном окне. */
  &.no-scroll {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit; // Наследование свойства от родителя (тега html).
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: $violet-dark; // Акцентный (превалирующий) цвет шрифта для ссылок.
  text-decoration: none; // Убираем подчеркивания у всех ссылок.
  display: inline-block; // Обычно надо, чтобы все ссылки были строчно-блочные.
}

ul,
li {
  list-style: none; // Отключаем маркеры у всех маркерных списков.
  margin: 0; // Отключаем margin.
  padding: 0; // Отключаем padding.
}

hr { // Разделительная горизонтальная полоса.
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e5e5e5;
  margin: 40px 0;
}

p {
  margin: 0 0 1rem;
}

// Убираем дефолтную стилизацию тегов button.
button {
  background: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
  // Т.к. по дефолту у тегов button шрифт свой, то наследем шрифт от родителя.
  font-family: inherit;
}

// Убираем дефолтную стилизацию тегов input.
input {
  // Т.к. по дефолту у тегов input шрифт свой, то наследем шрифт от родителя.
  font-family: inherit;
}




