//
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
// =*= MEDIA QUERIES =*=
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
//
/* Сначала идут max-width (от самого высокого числа до самого низкого),
а потом идут min-width (от самого низкого числа до самого высокого). */
//
@media (max-width: 1240px) {
    // =*= SECTION: 01_header =*=
    .header {

        &__title {
            padding-top: 120px;
            font-size: 180px;
            line-height: 220px;

            span {
                font-size: 50px;
                margin-top: -50px;
            }
        }
    }

    // =*= SECTION: 04_hotel =*=
    .hotel__inner {
        display: block;

        .hotel__images {
            margin-right: 0;
            height: 70vh; // Картинки слайдера будут размером 70% высоты экрана девайса.
            width: 100%;
            object-fit: cover; // Чтобы картинка полностью заполняла область ее размещения.
            margin-bottom: 20px;
        }

        .hotel__content {

            .hotel__gallery {
                margin-top: 10px;

                a {
                    margin-top: 10px;
                }
            }
        }
    }

    // =*= SECTION: 05_price =*=
    .price {
        background: url("/build/img/price-bg.png") no-repeat 91% 13%;
        background-size: 174px;
    }

    // =*= SECTION: 06_contacts =*=
    .contacts__inner {

        .contacts__content {

            .contacts__form {
                .contacts__form-title {
                    margin-bottom: 22px;
                }
            }
        }

        .contacts__images {
            height: 70vh; // Картинки слайдера будут размером 70% высоты экрана девайса.
            width: 50%;
            object-fit: cover; // Чтобы картинка полностью заполняла область ее размещения.
            margin-left: 15px;
        }
    }

    // =*= SECTION: 07_footer =*=
    .footer__inner {

        .footer__text {
            font-size: 80px;
        }
    }

}

@media (max-width: 1024px) {
    // =*= SECTION: 07_footer =*=
    .footer {
        padding-top: 210px;
    }
}

@media (max-width: 991px) {
    // =*= _reuse.scss =*=
    .page-section {
        margin: 100px 0;
    }

    // =*= SECTION: 02_fairy-tail =*=
    .fairy-tail__slider {
        width: 100%;
    }

    .fairy-tail__container {
        position: static;

        .fairy-tail__body {
            width: 100%;
            padding-left: 0;
        }
    }

    // =*= SECTION: 03_our-trip =*=
    .our-trip__inner {

        .our-trip__content {
            width: 100%;
            padding-right: 0;
            margin-bottom: 30px;

            .our-trip__container {
                position: static;

                .our-trip__body {
                    width: 50%;
                    margin: 0 auto;

                    .our-trip__btn {
                        margin-top: 25px;
                    }
                }
            }
        }
    }

    .our-trip__slider {
        width: 100%;
    }

    // =*= SECTION: 04_hotel =*=
    .hotel__inner {

        .hotel__content {

            .hotel__gallery {
                justify-content: space-around;
            }
        }
    }

    // =*= SECTION: 05_price =*=
    .price {
        background: url("/build/img/price-bg.png") no-repeat 95% 13%;
        background-size: 164px;
    }

    // =*= SECTION: 06_contacts =*=
    .contacts__inner {

        .contacts__content {

            .contacts__info {

                .contacts__date,
                .contacts__price {
                    font-size: 82px;
                    line-height: 90px;

                    span {
                        font-size: 22px;
                        line-height: 24px;
                    }
                }
            }
        }

        .contacts__images {
            width: 46%;
        }
    }

    // =*= SECTION: 07_footer =*=
    .footer {
        padding-top: 96px;
    }

    .footer__inner {

        .footer__text {
            font-size: 66px;
        }
    }
}

@media (max-width: 840px) {
    // =*= SECTION: 01_header =*=
    .header {

        &__top {
            font-size: 20px;
            line-height: 24px;

            .header__phone {

                &:before {
                    width: 25px;
                    height: 25px;
                    background-size: cover; // Чтобы иконка вписалась в новые размеры.
                    left: 0;
                }
            }
        }

        &__title {
            padding-top: 100px;
            font-size: 120px;
            line-height: 150px;

            span {
                font-size: 30px;
                margin-top: -44px;
            }
        }
    }

    // =*= SECTION: 05_price =*=
    .price {
        background: url("/build/img/price-bg.png") no-repeat 96% 9%;
        background-size: 133px;
    }

    // =*= SECTION: 06_contacts =*=
    .contacts__inner {

        .contacts__content {

            .contacts__info {

                .contacts__date,
                .contacts__price {
                    font-size: 70px;
                    line-height: 75px;

                    span {
                        font-size: 20px;
                        line-height: 22px;
                        margin-left: 166px;
                    }
                }
            }

            .contacts__form {
                .contacts__form-title {
                    margin-bottom: 18px;
                }

                .contacts__form-input {
                    margin-bottom: 16px;
                    padding: 0 18px;
                }

                .contacts__form-btn {
                    padding: 11px 56px;
                }
            }
        }

        .contacts__images {
            height: 60vh; // Картинки слайдера будут размером 70% высоты экрана девайса.
            width: 34%;
            margin-left: 10px;
        }
    }

    // =*= SECTION: 07_footer =*=
    .footer__inner {
        display: block;

        .footer__text {
            font-size: 80px;
            line-height: 90px;
            text-align: center;
            margin-top: 30px;
        }
    }
}

@media (max-width: 600px) {
    // =*= SECTION: 01_header =*=
    .header {

        &__top {
            justify-content: center;
            flex-wrap: wrap;

            .menu {
                width: 100%;
                text-align: center;
                margin: 0 0 25px;
            }
        }

        &__title {
            font-size: 80px;
            line-height: 120px;

            span {
                font-size: 22px;
                margin-top: -46px;
                margin-right: 15px;
            }
        }
    }

    // =*= SECTION: 02_fairy-tail =*=
    .fairy-tail__title span {
        margin-left: 110px;
    }

    .fairy-tail__slider {

        .fairy-tail__item {

            img {
                height: 50vh; // Картинки слайдера будут размером в пол экрана девайса.
                width: 100%;
                object-fit: cover; // Чтобы картинка полностью заполняла область ее размещения.
            }
        }
    }

    // =*= SECTION: 03_our-trip =*=
    .our-trip__inner {

        .our-trip__content {

            .our-trip__container {

                .our-trip__body {
                    width: 100%;

                    .our-trip__title span {
                        margin-left: 160px;
                    }

                    .our-trip__list {
                        font-size: 20px;
                        line-height: 25px;
                    }

                    .our-trip__btn {
                        margin: 25px auto 0;
                        font-size: 22px;
                        line-height: 26px;
                    }
                }
            }
        }
    }

    .our-trip__slider {

        .our-trip__slider-item {

            img {
                height: 50vh; // Картинки слайдера будут размером в пол экрана девайса.
                width: 100%;
                object-fit: cover; // Чтобы картинка полностью заполняла область ее размещения.
            }
        }
    }

    // =*= SECTION: 04_hotel =*=
    .hotel__title span {
        margin-left: 76px;
    }

    // =*= SECTION: 05_price =*=
    .price {
        background: url("/build/img/price-bg.png") no-repeat 94% 6%;
        background-size: 92px;
    }

    .price__title span {
        margin-left: 52px;
    }

    .price__inner {
        display: block;

        .price__on {
            margin-right: 0;
            width: 100%;
            margin-bottom: 28px;
        }

        .price__off {
            width: 100%;
        }

        .price__list {

            .price__list-item {
                margin-bottom: 20px;
            }
        }
    }

    .price__on-title,
    .price__off-title {
        margin-bottom: 20px;
    }

    // =*= SECTION: 06_contacts =*=
    .contacts__inner {
        display: block;

        .contacts__content {

            .contacts__info {
                margin-bottom: 20px;

                .contacts__date,
                .contacts__price {
                    font-size: 60px;
                    line-height: 66px;

                    span {
                        font-size: 18px;
                        line-height: 20px;
                        margin-left: 134px;
                    }
                }
            }

            .contacts__form {

                .contacts__form-title {
                    font-size: 22px;
                    line-height: 26px;
                }
            }
        }

        .contacts__images {
            height: 50vh; // Картинки слайдера будут размером 70% высоты экрана девайса.
            width: 100%;
            margin-left: 0;
            margin-top: 20px;
        }
    }

    // =*= SECTION: 07_footer =*=
    .footer__inner {

        .footer__contacts {
            background-size: 95%;

            .footer__contacts-title {
                font-size: 84px;
                margin-bottom: 14px;
            }

            .footer__phone,
            .footer__email {
                padding-left: 34px; // Отступ для иконки слева.

                // Иконка слева.
                &::before {
                    width: 25px;
                    height: 25px;
                    background-size: cover; // Чтобы иконка вписалась в новые размеры.
                }
            }
        }

        .footer__text {
            font-size: 48px;
            line-height: 52px;
            margin-top: -16px;
        }
    }

    // =*= _reuse.scss =*=
    .page-section {
        margin: 50px 0;
    }

    .title {
        margin-bottom: 25px;
        font-size: 60px;
        line-height: 110px;
    }
}

@media (max-width: 370px) {
    // =*= SECTION: 01_header =*=
    .header {

        &__title {
            font-size: 60px;
            line-height: 100px;

            span {
                font-size: 18px;
                margin-right: 0;
            }
        }
    }

    .menu__list-item + .menu__list-item {
        margin-left: 18px;
    }

    // =*= SECTION: 02_fairy-tail =*=
    .fairy-tail__title span {
        margin-left: 90px;
    }

    // =*= SECTION: 03_our-trip =*=
    .our-trip__inner {

        .our-trip__content {

            .our-trip__container {

                .our-trip__body {

                    .our-trip__title span {
                        margin-left: 134px;
                    }

                    .our-trip__btn {
                        font-size: 20px;
                        line-height: 22px;
                    }
                }
            }
        }
    }

    // =*= SECTION: 04_hotel =*=
    .hotel__title span {
        margin-left: 62px;
    }

    .hotel__inner {

        .hotel__images {
            height: 50vh; // Картинки слайдера будут размером 70% высоты экрана девайса.
            margin-bottom: 10px;
        }

        .hotel__content {

            .hotel__text {
                margin-bottom: 15px;
            }

            .hotel__gallery {
                margin-top: 0;

                a {
                    margin-top: 6px;
                }
            }
        }
    }

    // =*= SECTION: 05_price =*=
    .price {
        background: url("/build/img/price-bg.png") no-repeat 95% 9%;
        background-size: 83px;
    }

    // =*= SECTION: 06_contacts =*=
    .contacts__inner {

        .contacts__content {

            .contacts__info {

                .contacts__date,
                .contacts__price {
                    font-size: 53px;
                    line-height: 56px;

                    span {
                        font-size: 17px;
                        margin-left: 54px;
                    }
                }
            }

            .contacts__form {
                .contacts__form-title {
                    margin-bottom: 10px;
                    font-size: 18px;
                }

                .contacts__form-input {
                    margin-bottom: 10px;
                }

                .contacts__form-btn {
                    font-size: 21px;
                }
            }
        }

        .contacts__images {
            height: 30vh; // Картинки слайдера будут размером 70% высоты экрана девайса.
            margin-top: 15px;
        }
    }

    // =*= SECTION: 07_footer =*=
    .footer__inner {

        .footer__contacts {
            background-size: 95%;
            width: 300px;
            height: 430px;

            .footer__contacts-title {
                font-size: 66px;
                margin-bottom: 0;
                padding-top: 12px;
            }

            .footer__phone,
            .footer__email {
                padding-left: 34px; // Отступ для иконки слева.

                // Иконка слева.
                &::before {
                    width: 23px;
                    height: 23px;
                    background-size: cover; // Чтобы иконка вписалась в новые размеры.
                    top: -1px;
                }
            }
        }

        .footer__text {
            font-size: 40px;
            line-height: 44px;
            margin-top: -8px;
        }
    }

    // =*= _reuse.scss =*=
    .title {
        font-size: 50px;

        span {
            font-size: 20px;
        }
    }
}


