// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
// =*= GENERAL STYLES =*=
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
//
// Переменные для акцентных (превалирующих) цветов сайта.
$black: #000;
$gold: #E2AB3F;

//
// Строковые переменные для медиа-запросов.
$notebook: "max-width: 1199px";
$tablet: "max-width: 991px";
$mobile: "max-width: 767px";
$mobile-sm: "max-width: 565px";

