// -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
// -#- IMPORTS - general styles -#-
// -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
//
// Variables (переменные должны быть прописаны выше того объекта, в котором они используются).
@import "../_vars.scss";
//
//
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
// =*= BLOCK: social =*=
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
//
.social {
    display: flex;
    margin-bottom: 42px;
    &__link {
        // Свойство действует начиная со второго элемента (т.е. margin-left действует начиная со второго по счету элемента).
        + .social__link {
            margin-left: 24px;
        }
        &-facebook {
            margin-top: 5px;
        }
        &-twitter {
            margin-top: 3px;
        }
        &-instagram {
            margin-top: 5px;
        }
        &-telegram {
            margin-top: 4px;
        }
        &-whatsapp {
            margin-top: 5px;
        }
        transition: transform 0.2s linear;
        // Ссылки плавно приподнимаются при наведении.
        &:hover {
            transform: translateY(-5px);
        }
    }
}
//
//
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
// =*= MODIFIERS: social (connection at the end of styles .css/.scss) =*=
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
//

//
//
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
// =*= MEDIA QUERIES: social =*=
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
//
/* Сначала идут max-width (от самого высокого числа до самого низкого),
а потом идут min-width (от самого низкого числа до самого высокого). */
//
@media ($tablet) {
    .social {
        &__link {
            // Свойство действует начиная со второго элемента (т.е. margin-left действует начиная со второго по счету элемента).
            + .social__link {
                margin-left: 18px;
            }
        }
    }
}
//
@media ($mobile) {
    .social {
        &__link {
            // Свойство действует начиная со второго элемента (т.е. margin-left действует начиная со второго по счету элемента).
            + .social__link {
                margin-left: 17px;
            }
        }
    }
}
//
@media ($mobile-sm) {
    .social {
        &__link {
            // Свойство действует начиная со второго элемента (т.е. margin-left действует начиная со второго по счету элемента).
            + .social__link {
                margin-left: 24px;
            }
        }
    }
}
//
@media (max-width: 404px) {
    .social {
        &__link {
            // Свойство действует начиная со второго элемента (т.е. margin-left действует начиная со второго по счету элемента).
            + .social__link {
                margin-left: 8px;
            }
        }
    }
}





