.header {
    background: url("/build/img/header-bg.jpg") no-repeat center bottom;
    height: 100vh; // Автоматическая высота для разных мониторов.
    background-size: cover; // Растягиваем img как обложку.

    &__top {
        display: flex;
        justify-content: space-between;
        padding-top: 72px;
        font-size: 24px;
        line-height: 28px;
        font-family: 'RobotoCondensed-Regular', serif;

        .header__phone {
            padding-left: 40px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                background-image: url('/build/img/phone-icon.svg');
                width: 30px;
                height: 30px;
                left: 0;
            }
        }
    }

    &__title {
        padding-top: 152px;
        text-align: center;
        font-family: 'balqis', serif;
        font-weight: 300;
        font-size: 250px;
        line-height: 334px;

        span {
            display: block;
            text-align: right;
            font-family: 'RobotoCondensed-LightItalic', serif;
            font-size: 56px;
            line-height: 66px;
            margin-top: -66px;
            margin-right: 85px;
        }
    }
}

.menu__list-item {
    display: inline-block;

    .menu__list-link:hover {
        text-decoration: underline;
    }
}

.menu__list-item + .menu__list-item {
    margin-left: 52px;
}

