// -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
// -#- IMPORTS - general styles -#-
// -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
//
// Variables (переменные должны быть прописаны выше того объекта, в котором они используются).
@import "src/scss/_vars.scss";
//
//
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
// =*= SECTION: price =*=
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
//
.price {
    background: url("/build/img/price-bg.png") no-repeat 84% 86%;
}

.price__title span {
    margin-left: 122px;
}

.price__inner {
    display: flex;

    .price__on {
        margin-right: 70px;
        width: 530px;
    }

    .price__list {

        .price__list-item {
            margin-bottom: 20px;
        }
    }
}

.price__on-title,
.price__off-title {
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Regular', serif;
    margin-bottom: 50px;
}

