{
    "useTabs": false,
    "printWidth": 205,
    "tabWidth": 4,
    "singleQuote": false,
    "semi": true,
    "trailingComma": "es5",
    "jsxBracketSameLine": true,
    "bracketSpacing": true,
    "endOfLine": "lf",

    "overrides": [
        {
            "files": "src/js/**/*.js",
            "options": {
                "singleQuote": true
            }
        }
    ],

    "embeddedLanguageFormatting": "auto",
    "arrowParens": "always",
    "requirePragma": false,
    "insertPragma": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false
}
